<!DOCTYPE html>
<html>
    <head>
        <title>Password Reset</title>
    </head>
    <body>
        <div>
            {{username if username != None}},
        </div>
        <div>
            {{display_msg if display_msg != None}}
        </div>
        <div>
            <a href="{{ url_for('password_reset', token=token, _external=True) }}">
                    click here 
            </a>
        </div>
    
        <div class="error">{{error_msg if error_msg != None}}</div>
    </body>

</html>