{% extends "base.html" %}
{% block content %}
    <form action = "{{url_for('password_change')}}" method = "post">

        <div>
            <label>Old password</label>
        </div>
        <div>
            <input type="password" name="old_password" value="{{old_password if old_password != None}}">
        </div>

        <div>
            <label>New password</label>
        </div>
        <div>
            <input type="password" name="new_password1" value="{{new_password1 if new_password1 != None}}">
        </div>

        <div>
            <label>Confirm password</label>
        </div>
        <div>
            <input type="password" name="new_password2" value="{{new_password2 if new_password2 != None}}">
        </div>

        <div>
            <input type = "submit" value = "Confirm">
        </div>
    </form>
    <div class="error">{{error_msg if error_msg != None}}</div>

{% endblock %}