<!DOCTYPE html>
<html>
    <head>
        <title>Password Recovery</title>
    </head>
    <body>
        <h1>Password Recovery</h1>

        <div>
            <a href = "{{url_for('login')}}">Back to login page</a>
        </div>
    
        <form action = "{{url_for('password_recovery')}}" method = "post">

            <div>
                <label>Please provide your email address</label>
            </div>
            <div>
                <input type="text" placeholder = "Your email address" name="email_address" value="{{email_address if email_address != None}}">
            </div>

            <div>
                <input type = "submit" value = "Confirm">
            </div>
            
        </form>
        <div class="error">{{error_msg if error_msg != None}}</div>
    </body>

</html>