<!DOCTYPE html>
<html>
    <head>
        <title>Password Reset</title>
    </head>
    <body>
        <h1>Password Reset</h1>
        <div>
            <a href = "{{url_for('login')}}">Back to login page</a>
        </div>
        <form action = "{{ url_for('password_reset_verified', token=token) }}" method = "post">

            <div>
                <label>New password</label>
            </div>
            <div>
                <input type="password" name="password1" value="{{password1 if password1 != None}}" placeholder="New password">
            </div>

            <div>
                <label>Confirm password</label>
            </div>
            <div>
                <input type="password" name="password2" value="{{password2 if password2 != None}}" placeholder="Enter your new password again">
            </div>

            <div>
                <input type = "submit" value = "Confirm">
            </div>
            
        </form>
        <div class="error">{{error_msg if error_msg != None}}</div>
    </body>
</html>